.skills__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 4rem;
}

.card.skills {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.skills__icon {
  background-color: var(--color-primary);
  padding: 0.9rem;
  border-radius: var(--border-radius-3);
  font-size: 1.5rem;
  color: var(--color-white);
  transition: var(--transition);
}

.skills:hover .skills__icon {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.skills h4 {
  margin-bottom: 0.7rem;
}

.skills__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.card.skill {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 5rem;
}
.skills:hover .skill {
  background-color: var(--color-white);
  border-color: var(--color-light);
}

.card.skill:hover {
  background: var(--color-white);
  border-color: var(--color-dark);
  transform: translateY(0);
}
