#banner {
  position: relative;
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  padding-top: 2.5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .banner__background {
  position: absolute;
  height: 100vh;
  transform: translateY(-4rem);
}

.container.banner__container {
  display: grid;
  grid-template-columns: 58% 30%;
  gap: 12%;
}

.banner__info {
  padding: 1rem 0;
}

.banner__info .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 0.6rem 0.8rem;
  background: linear-gradient(
    90.21deg,
    rgba(224, 126, 185, 0.6) -4.91%,
    rgba(110, 88, 212, 0.6) 111.58%
  );
  color: var(--color-light);
  border: 1px solid var(--color-black);
  font-size: 1.2rem;
  margin-bottom: 2.2rem;
  display: inline-block;
}

.banner__info h1 {
  margin-bottom: 0.2rem;
  display: block;
}

.banner__info .wrap {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-black);
}

.banner__img img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-white);
  animation: updown 3s linear infinite;
}

.banner__desc {
  margin: 1.4rem 0 2rem;
  padding-right: 2rem;
}

@keyframes updown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid var(--color-black);
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
  .container.banner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6%;
  }
  .banner__img {
    width: 50%;
  }

  .banner__info .wrap {
    font-size: 2rem;
  }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  #banner {
    margin-top: 3.5rem;
    height: calc(100vh - 3.5rem);
  }
  /* .container.banner__container {
    display: grid;
    grid-template-columns: 1fr;
  } */
  .banner__img {
    margin-top: 3rem;
  }
  .banner__info .tagline {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
  }
  .banner__info .wrap {
    font-size: 1.7rem;
  }
  .banner__desc {
    font-size: 0.8rem;
  }
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 100px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */
